@model IEnumerable<Expense_Tracker.Models.Category>

@{
    ViewData["PageTitle"] = "Categories";
    // Set page title to "Categories"

    ViewData["PageActionText"] = "+ New Category";
    // Set the text for the new category action

    ViewData["PageActionUrl"] = "/Category/AddOrEdit";
    // Set the URL for the new category action
}

<div class="row">
    <div class="col-md-7">
        <ejs-grid id="categories" dataSource="@Model" gridLines="None"
                  allowSorting="true" allowPaging="true">
            <!-- Set up grid with sorting and paging -->
            <e-grid-pagesettings pageSize="5"></e-grid-pagesettings>
            <!-- Configure grid to show 5 items per page -->

            <e-grid-columns>
                <!-- Define grid columns -->
                <e-grid-column headerText="Category" field="TitleWithIcon"></e-grid-column>
                <!-- Column for category title with icon -->

                <e-grid-column headerText="Type" template="#typeColumnTemplate" width="150px"></e-grid-column>
                <!-- Column for category type with template -->

                <e-grid-column headerText="Actions" template="#actionColumnTemplate" width="100px"></e-grid-column>
                <!-- Column for action buttons with template -->
            </e-grid-columns>
        </ejs-grid>
    </div>
    <div class="col-md-5">
        <div class="widget h-100 d-flex justify-content-center align-items-center">
            <i class="fa-solid fa-shapes fa-2xl"></i>
            <!-- Display icon -->
        </div>
    </div>
</div>

<script id="typeColumnTemplate" type="text/x-template">
    ${if(Type=="Income" || Type=="Savings")}
        <span class="badge bg-success">${Type}</span>
        <!-- Display "Income" and "Savings" with a green badge -->
    ${else}
        <span class="badge bg-danger">${Type}</span>
        <!-- Display other types with a red badge -->
    ${/if}
</script>

<script id="actionColumnTemplate" type="text/x-template">
    <div class="d-flex flex-row justify-content-start">
        <a class="btn btn-sm no-a-decoration" href="/Category/AddOrEdit/${CategoryId}">
            <i class="fa-solid fa-pen fa-lg"></i>
            <!-- Edit button -->
        </a>
        <form action="/Category/Delete/${CategoryId}" method="post">
    @Html.AntiForgeryToken()
            <!-- Anti-forgery token for form security -->

            <button type="submit" class="btn btn-sm btn-link no-a-decoration"
            onclick="return confirm(&quot;Are sure to delete this record?&quot;)">
                <i class="fa-solid fa-trash-can fa-lg text-danger"></i>
                <!-- Delete button with confirmation -->
            </button>
        </form>
    </div>
</script>
